<html xmlns="http://www.thymeleaf.org">

<head>
	<title>Order Form</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/js/translate.js}"></script>
</head>

<body>
	<div th:replace="fragments/pagehead"></div>
	<div class="widepage">

		<p style="color:lightgreen;text-align:left;font-size: 1em;" id="ack-text">
			 Following is your Order summary
		</p>
		<span id="mylang" th:value="${#authentication.getPrincipal().getPreflang()}"></span>
		<script th:inline="javascript">
			var mytext = document.getElementById("ack-text");
			var text = mytext.innerText;
			var fldname = document.getElementById("mylang");
			var tolang = fldname.innerText;
			var translatedText = translateMessage(text, 'en-IN', tolang, "ack-text");
		</script>
		<hr />

		<form name="orderform" th:action="@{saveorder}" th:object="${myorderitems}" method="POST">
			<fieldset>
				<div>
					<label>Customer:
						<input type="text" th:field="${myorderitems.customername}" id="customername" name="customername"
							size="32" placeholder="Customer Name:" class="form-control col-4 mb-4" float:"right" />
					</label>

					<table class="table table-bordered table-striped" id="items-table">
						<thead>
							<tr>
								<th>Item Name </th>
								<th>Quantity</th>
								<th>Comments/Order Instructions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="currentClient, stat : *{orderedItemlist}">

								<div> <input type="hidden" name="itemid" id="itemid"
										th:field="*{orderedItemlist[__${stat.index}__].orderItemsIdentity.itemId}" />
								</div>

								<td> <input type="text" name="ItemName" id="ItemName"
										th:field="*{orderedItemlist[__${stat.index}__].ItemName}" />
								</td>

								<td> <input type="text" th:field="*{orderedItemlist[__${stat.index}__].qty}"
										th:value="${currentClient.qty}" /> </td>
								<td> <input type="text" th:field="*{orderedItemlist[__${stat.index}__].comments}" />
								</td>

							</tr>
						</tbody>
					</table>
			</fieldset>
		</form>
		<hr />
		<a th:href="@{orders}"> Back To Order List..</a>
	</div>
</body>

</html>